# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Raw Data
data/raw/

# Logs
logs/

# VS Code
.vscode/

# Mac specific
.DS_Store
.AppleDouble
.LSOverride

# Docker
.dockerignore
